.blogPage{
    width: 100%;
    overflow: hidden;
    padding-top: 140px;
    margin-bottom: 120px;
}
.blogPage .blogPage-header h2{
    font-family: "Jost",sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: rgb(59, 59, 59);
}
.blogPage .blogPage-img{
    padding-top: 70px;
    width: 850px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.blogPage .blogPage-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blogPage .blogPage-desc
{
    padding-top: 70px;
    width: 850px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.blogPage .blogPage-desc .blogPage-list-header h5{
    font-weight: bold;
    color: rgb(88, 88, 88);
    font-size: 18px;
}
.blogPage .blogPage-desc .blogPage-list-para{
    margin-top: 28px;
}
.blogPage .blogPage-desc .blogPage-list-para p{
    font-size: 16px;
    color: rgb(61, 61, 61);
}
@media (max-width:900px){
    .blogPage .blogPage-header h2{
        /* font-family: "Jost",sans-serif; */
        font-size: 30px;
        /* font-weight: bold; */
        /* color: rgb(59, 59, 59); */
    }
    .blogPage .blogPage-img{
        /* padding-top: 70px; */
        width: 100%;
    }
    .blogPage .blogPage-desc
    {
        padding-top: 60px;
        width: 100%;
        /* margin: auto; */
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: center; */
        /* overflow: hidden; */
    }


}